$color--body-bg: #fff;

$color--primary: #48d9b3;
$color--primary-half-transparent: rgba(72, 217, 179, 0.6);
$color--primary-quadro-transparent: rgba(72, 217, 179, 0.8);

$color--light: #fff;
$color--light-sub: #ddd;
$color--light-dark: #bebebe;
$color--light-link: #b0b0b0;
$color--light-little-transparent: rgba(255, 255, 255, 0.1);

$color--dark: #545758;
$color--dark-bg: #2b2b2b;

$color--button-cta-bg: $color--primary;
$color--button-cta-color: $color--light;

$color--header-bg: rgba(0, 0, 0, 0.3);
$color--popup-bg: #ecebea;

$color--footer-bg: #282828;

$color--grey: #f0f0f0;

$color--black-transparent: rgba(0, 0, 0, 0);
$color--black-little-transparent: rgba(20, 20, 20, 0.9);
$color--black-half-transparent: rgba(0, 0, 0, 0.5);
$color--black-quadro-transparent: rgba(0, 0, 0, 0.3);
