.nd-stoke {
    padding: 80px 0;

    &__btn {
        margin-top: 25px;
        padding: 10px;
        z-index: 1;
    }

    .nd-button-courses__btn {
        display: block;
        margin: auto;
    }
}
