.nd-price {
    background: url("../images/jpg/price.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 80px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
    }

    &__discount {
        flex: 8 66%;

        @include respond-to(phones) {
            flex: 1 100%;
            padding-bottom: 50px;
        }


        &__header {
            color: $color--light;
            font-size: 3.8rem;
            line-height: 1.46;
            text-transform: uppercase;

            @include respond-to(phones) {
                font-size: 2.8rem;
            }
        }

        &__subheader {
            color: $color--light;
            font-size: 2.1rem;
            line-height: 1.5;
            margin: 30px 0;
            //text-transform: uppercase;

            &__important {
                color: $color--primary;
            }

            @include respond-to(phones) {
                font-size: 1.8rem;
            }
        }

        &__is {
            color: $color--primary;
            display: inline-block;
            font-size: 2.8rem;
            margin-right: 30px;
            text-transform: uppercase;

            .number {
                font-size: 6.4rem;
            }
        }

        &__was {
            color: $color--light;
            display: inline-block;
            font-size: 2.4rem;
            position: relative;
            text-transform: uppercase;

            .number {
                font-size: 4.8rem;
            }

            &::after {
                border-bottom: 3px solid $color--primary;
                bottom: 2.1rem;
                content: "";
                left: 0;
                margin-left: -5px;
                position: absolute;
                width: calc(100% + 10px);
            }
        }

        &__description {
            color: $color--light-dark;
            font-size: 2.4rem;
            margin-top: 30px;
        }

        &__link {
            font-size: 2rem;
            margin-top: 30px;

            a {
                border-bottom: 1px dashed $color--light-dark;
                color: $color--light-dark;
                text-decoration: none;
            }
        }
    }

    &__form {
        flex: 4 33%;

        @include respond-to(phones) {
            flex: 1 100%;
        }
    }
}
