@font-face {
    font-family: "SourceSansProRegular";
    src: url("fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: 'SourceSansProRegular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    background: #e3001b;
    color: white;
}

.main-content {
    text-align: center;
    margin-top: 40px;
  
}

.main-text {
    width: 980px;
    margin: auto;
    margin-top: 35px;

}

.main-img img {
    width: 300px;
    transition: 0.3s;
}
.main-img img:hover {
    transform: scale(1.2);
    -webkit-filter: contrast(2);
    filter: contrast(2);
}

@keyframes anime {
    from {
        color: #fff;
    }
    50%{
        color: #e3001b;
    }
    to {
         color: #fff;
    }
}

.made .alex{
   animation: anime 10s infinite; 
}
.made{
    text-align: center;
        padding-top: 35px;
}