.nd-video {
    background: url("../images/jpg/video.jpg") no-repeat center center;
    background-size: cover;
    color: $color--light;
    min-height: 375px;
    padding: 115px 0;
    text-align: center;
    position: relative;

    @include respond-to(phones) {
        padding: 95px 0;
        min-height: 300px;
    }

    &__embedded {
        background-color: $color--dark-bg;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    &__icon {
        cursor: pointer;
        width: 7rem;
        height: 7rem;
        background: url() 0 0 no-repeat;
        background-image: url("../images/png/play-white.png");
        /* IE 8 */
        background-image: url("../images/svg/play.svg"), none;
        /* Modern browsers */
        background-size: auto 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
            opacity: 0.8;
        }
    }
}
